@font-face {
  font-family: "Koulen-Regular"; /* Give a name to your font */
  src: url("./assets/Koulen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Koulen-Regular", sans-serif; /* Fallback to a generic font */
}

.play-button {
  position: absolute;
  bottom: 70px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}

* {
  font-weight: bold !important;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.repeat-button {
  position: absolute;
  bottom: 70px;
  left: 100px;
  cursor: pointer;
  z-index: 1000;
}

.temperature-tooltip {
  width: 100%;
  margin-top: -36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  stroke: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.container-year {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  z-index: 2;
  font-size: 20px;
}

.container-year::-webkit-scrollbar {
  display: none;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.github-button {
  position: absolute;
  bottom: 70px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}
